doctype html
html
	head
		meta("name"="viewport", "content"="width=device-width, initial-scale=1.0")
		title= title
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap-material-datetimepicker.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		block content
		script(src='/javascripts/jquery-2.2.4.min.js')
		script(src='/javascripts/moment-with-locales.min.js')
		script(src='/javascripts/bootstrap.js')
		script(src='/javascripts/bootstrap-material-datetimepicker.js')
		script(src='/javascripts/material.min.js')
		script(src='/javascripts/main.js')
